<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/lib/bootswatch/cerulean/bootstrap.css" rel="stylesheet" />


</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="~/lib/jqueryui/jquery.js"></script>
    <script src="~/lib/jqueryui/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>